# coding: utf-8
<%@page_title="top"%>
<div id="Photo_area">
    <%= render "shared/photoarea"%>
</div>
<div id="sidebar">
    <%= render "shared/sidebar"%>
    </div>
<div id="Contents">
    <div id="Main">
        <div id="Main_middle_left"></div>
        <div id="Main_middle_right"></div>
        <div id="Main_middle_bottom"></div>
        <div id="Main_bottom"></div>
    </div>
</div>
    
