<div id="Footer">
           <div id="Foot_top">
           <div id="none"></div>
           <div id="to_top"><%= image_tag("to_top.png" , :id => "top_buttom")%></div>
           </div>
           <div id="Foot_left">
            </div>
            <div id="Foot_right">
           </div>
</div>
