<div id="Head_bar">
	<div id="Head">
	 	<!-- <img src="r-top.png"> &nbsp|&nbsp;
		<img src="r-menu.png"> &nbsp|&nbsp;
		<img src="r-beautician.png"> &nbsp|&nbsp;
		<img src="r-customer.png"> &nbsp|&nbsp;
		<img src="r-access.png">-->
		ここメニューバー(Menu_bar/Menu_back/Head_bar/Head)
	</div>
</div>
