<div id="Header">
<div id="Menu_back">
 	<div id="Login_bar">
		<div id="Login_left">
 			 ここLogo(Menu_bar/Menu_back/Login_bar/Login_left)
                 </div>
		<div id="Login_right">
			<div id="Login">
				<table id="login_form">
					<tr>
						<td></td>
						<td>
							ニックネーム：<%= text_field_tag "user_name", "" %>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							パスワード：<%= password_field_tag "password", "" %>
						</td>
					</tr>
					<tr>
						<td colspan="2" >
						<%= submit_tag "ログイン" %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</div>

    
