	<div id="Head">
	 	<!-- <img src="r-top.png"> &nbsp|&nbsp;
		<img src="r-menu.png"> &nbsp|&nbsp;
		<img src="r-beautician.png"> &nbsp|&nbsp;
		<img src="r-customer.png"> &nbsp|&nbsp;
		<img src="r-access.png">-->
		top &nbsp|&nbsp;
		menu &nbsp|&nbsp;
		clerk &nbsp|&nbsp;
		customer &nbsp|&nbsp;
		access &nbsp|&nbsp;
	</div>
