            <div id="Side_bar">
                    <div id="Side_bar_top">Contener/Main/side_bar/Side_bar_top</div>
                    <div id="Side_bar_middle">Contener/Main/side_bar/Side_bar_middle</div>
                    <div id="Side_bar_middle2">Contener/Main/side_bar/Side_bar_middle2</div>
                    <div id="Side_bar_bottom">Contener/Main/side_bar/Side_bar_bottom</div>
                    <div></div>
           
