            <div id="Side_bar">
                    <div id="Side_bar_top"></div>
                    <div id="Side_bar_middle"></div>
                    <div id="Side_bar_middle2"></div>
                    <div id="Side_bar_bottom"></div>
                    <div></div>
           
