<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>error</title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

<div id="container">
  <div id="header">
<p>
<%= link_to "Back to TOP", :root %></p>
  </div>
<%= yield %>

  </div>
</div>

</body>
</html>
